:root {
  --size: 25px;
  --blue: #12e7e7;
  --orange: #fea501;
}

@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Kanit:wght@100;300&family=Roboto+Mono:wght@300&display=swap');
html,body{
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: rgb(33, 33, 33);
}

.App{
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}